.bg-contacts {
    background-image: url(../img/inquiry.jpg),linear-gradient(180deg,rgba(0,0,0,.5) 0,rgba(0,0,0,.3) 40%,
    rgba(0,0,0,.75));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;

}
.bg-contacts h1 {
    color:  #fff;
    text-align: center;
    padding: 120px;
    margin: 0;
    font-size: 60px;
}


@media all and (min-width: 481px) {
	.flexx {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}
}

@media all and (max-width: 480px) {
	.flexx {
		display: block;
		text-align: center;
		line-height: 60px;
	}
}
