@media all and (max-width: 960px) {
    header nav { display: none;}
    .E {
        display: block;
        width: 30px;
        height: 30px;
        padding: 15px;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
    }

    header .E { float: right; }

    .E hr {
        border: none;
        margin: 0;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        transition: all .25s ease;
    }

    .E hr { top: 29px; }

    .E hr:first-child { top: 21px; }

    .E hr:last-child { top: 37px; }

    .E.show hr:first-child,
    .E.show hr:last-child {
        width: 0;
        top: 15px;
        margin: 15px;
        opacity: 0;
    }

    .E.show hr:nth-child(2) { transform: rotate(45deg); }

    .E.show hr:nth-child(3) { transform: rotate(-45deg); }
}

@media all and (min-width: 961px) {
    .E { display: none; }
}
