header, nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav ul li {
	display: block;
	transform: translate( 0,-5em);
	transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.loaded nav ul li {
	opacity: 1;
	transform: translate(0, 0);
}
header nav ul li:nth-child(1) { transition-delay:0.3s ;}
header nav ul li:nth-child(2) { transition-delay:0.2s ;}
header nav ul li:nth-child(3) { transition-delay:0.1s ;}
header nav ul li:nth-child(4) { transition-delay:0.0s ;}

header nav a.red {
	display:inline-block;
	text-decoration:none;
	color:rgba(0,0,0,.5);
	font-size:16px;
	padding: 5px 15px;
	margin-right: 5px;
	transition: color 0.3s ease-in;
}

header nav a.red:hover { 
	color: #db0546;
	border-bottom: 1px solid #db0546;
	margin-bottom: -1px;
}

header .logo img {
	width: 100px;
	margin: 10px auto;
}

header nav { margin: 10px 0;}

header nav .social a {
	border: 1px solid #db0546;
	border-radius: 20px;
    background-size: 12px;
    display: inline-block;
	width: 30px;
	height: 30px;
	margin: 3px;
}

header nav a.fb { background-image: url(../svg/facebook.svg);}
header nav a.in { background-image: url(../svg/linkedin.svg);}

header .social a {
    background-position: center;
	background-repeat: no-repeat;
}


@media all and (max-width: 1280px){
 	header a.logo { margin-left: 10px;}
	header nav { margin-right: 10px;}
}

@media all and (max-width: 939px) {
	header, nav ul {display: block;}
	header nav { text-align: center;}
}