.bg-about {
    background-image: url(../img/profile-2.jpg),linear-gradient(180deg,rgba(0,0,0,.5) 0,rgba(0,0,0,.3) 40%,
    rgba(0,0,0,.75));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}

.bg-about h1 {
    color:  #fff;
    text-align: center;
    padding: 120px;
    margin: 0;
    font-size: 60px;
}
.about-color1 { 
    background: #efefef;
}
.about-color1 .white { background: #fff; }
.about-color2 .grey { background: #efefee;}

.about-color1 .white,
.about-color2 .grey { 
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-color1 h3,
.about-color2 h3 {
    font-size:  var(--h3-font-size);
    text-transform: var(--h3-text-transform);
    text-align: center;
    background:#db0546;
    padding: 10px;
    color:#fff;
    width: 360px;
    margin: -40px auto 0px auto;
}
.about-color1,
.about-color2 {
    padding:65px 40px;
}

div.button { 
    text-align: center;
    margin-bottom: 40px;
}



