<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/content.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/header.css">

</head>
<body>

    <div class="site">
        <header class="site-header">
            <a href="/"><img src="{{site.baseurl}}/img/logo-grey-transparent.png" alt=""></a>

                <nav>
                    <ul>
                    {% for page in site.pages %}
                        {% if page.title %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </nav>

        </header>

         <main>
            {{ content }}
        </main>

        <footer>
            
        </footer>
    </div>

   
</body>
</html>