<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/content.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/header.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/fluid.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/hb-menu.css">

    <script>
        window.addEventListener( 'load', (event) =>
        {
            document.querySelector('body').classList.add('loaded')
        }
        );
    </script>

</head>
<body>

    <div class="site">
        <header class="site-header">
            <a class="logo" href="/"><img src="{{site.baseurl}}/img/logo-grey-transparent.png" alt=""></a>
            <div class="E"><hr><hr><hr><hr></div>
                <nav>
                    <ul>
                    {% assign pages = site.pages | sort: "order" %}
                    {% for page in pages %}
                        {% if page.title %}
                            <li><a class="red" href="{{site.baseurl}}/{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                        <div class="social">
                            <a class="fb" href="#"></a>
                            <a class="in" href="#"></a>
                        </div>
                    </ul>
                </nav>
                

        </header>

         <main>
            {{ content }}
        </main>

        <footer>
            
        </footer>
    </div>

   
</body>
</html>